.background {
  background-color: #ebebeb;
  height: max-content;
  padding: 100px 0;
}

.portfolio {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  display: flex;
}

#biodata {
  background-color: #8d8a8b;
  width: 30%;
  padding: 24px;
}

#content {
  background-color: #fff9f1;
  width: 70%;
  padding: 24px 48px;
}

h2 {
  font-size: 28px;
  margin: 20px 0;
}

#biodata h2 {
  color: #fff9f1;
}

#biodata h3 {
  color: #ffffff;
}

#biodata p {
  color: #e7e7e7;
}

#content h2 {
  font-size: 36px;
  color: #8d8a8b;
}

h3 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 4px;
}

.content h3 {
  font-size: 20px;
}

.content h4 {
  font-size: 20px;
  margin: 0;
}

.languages h3 {
  font-size: 22px;
  text-decoration: underline;
  margin-right: 0;
  width: 120px;
}

p {
  margin: 0;
  margin-bottom: 14px;
  font-size: 20px;
}

.education p {
  margin: 4px;
}

.me {
  text-align: center;
  margin: 28px 0;
}

.me img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.contact img {
  width: 20px;
  height: 20px;
  margin-right: 18px;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact div {
  display: flex;
  margin-top: 8px;
}

.education ul {
  padding-left: 18px;
  list-style: disc;
}

.education li {
  margin-bottom: 12px;
}

.languages ul {
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.box ul {
  margin: 4px 0;
}

.languages .box {
  justify-content: flex-start;
}
